[submodule "Joyeuse"]
	path = Joyeuse
	url = https://github.com/RiseRobotRise/Joyeuse
[submodule "assets/sounds/M1"]
	path = assets/sounds/M1
	url = https://github.com/RiseRobotRise/M1A1-Sounds.git
[submodule "assets/Characters"]
	path = assets/Characters
	url = https://github.com/RiseRobotRise/Characters.git
